body {
  background-color: rgb(10, 14, 36);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  .gamePanel {
    display: flex;
    width: 400px;
    justify-content: space-between;
    position: relative;
    color: rgb(202, 202, 202);
    height: 200px;

    &__scores {
      position: relative;
      h1 {
        font-size: 70px;
        margin-top: 5px;
        margin-bottom: 0;
        text-shadow: 1px 1px 70px rgb(140, 141, 153);
      }

      h2 {
        margin-top: 10px;
        text-shadow: 1px 1px 20px rgb(140, 141, 153);
      }

      h3 {
        margin-top: -15px;
        text-shadow: 1px 1px 20px rgb(140, 141, 153);
      }
    }
    
    #newGame {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      outline-style: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      width: 150px;
      height: 50px;
      position: absolute;
      bottom: 15%;
      right: 0;
      background-color: transparent;
      border-radius: 15px;
      box-shadow: 1px 1px 10px 1px  #fff;
      color: rgb(202, 202, 202);
      transition: 0.5s;
      border: none;

      &:hover {
        box-shadow: 1px 1px 20px 1px  #fff;
        transform: scale(1.1);
      }
    }
  }
  .gameBlock {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 25px 1px  #fff;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      width: 100px;
      height: 100px;
      background-image: url('./1.png');
      background-size: cover;
      position: absolute;
      bottom: -100px;
      left: 36%;
      opacity: 0.50;
    }
    
    &__item {
      display: flex;
      width: 100px;
      height: 100px;
      box-sizing: border-box;
      border: 2.5px solid rgb(216, 216, 216);
      align-items: center;
      justify-content: center;
      font-size: 40px;
      color: #fff;
      transition: background-color 0.3s ease-out 0.3s;
      border-radius: 10px;
      

      &--2 {
        background-color: rgb(10, 14, 56);
      }
      &--4 {
        background-color: rgb(10, 14, 66);
      }
      &--8 {
        background-color: rgb(10, 14, 76);
      }
      &--16 {
        background-color: rgb(10, 14, 86);
      }
      &--32 {
        background-color: rgb(10, 14, 96);
      }
      &--64 {
        background-color: rgb(10, 14, 106);
      }
      &--128 {
        background-color: rgb(10, 14, 116);
      }
      &--256 {
        background-color: rgb(10, 14, 126);
      }
      &--512 {
        background-color: rgb(10, 14, 136);
      }
      &--1024 {
        background-color: rgb(10, 14, 146);
      }
      &--2048 {
        background-color: rgb(10, 14, 156);
      }
    }

    .gameOver {
      font-size: 50px;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 20px rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 3;
      width: 400px;
      height: 400px;
      background-color: rgba(30, 27, 61, 0.911);
      transition: background-color 0.3s ease-out 0.3s;

      &--hidden {
        visibility: hidden;
      }
    }
  }
}
